@page
@model Accounts.IndexModel
@{
    ViewData["Title"] = "Accounts Page";
}

<h1 class="mt-5">
    All Accounts
</h1>
<hr>
<a asp-page="/Accounts/Add" class="btn btn-primary w-25 mb-5">
    Add Account
</a>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">
            Index
        </th>
        <th scope="col">
            Full Name
        </th>
        <th scope="col">
            Email Address
        </th>
        <th scope="col">
            Phone Number
        </th>
        <th scope="col">
            Personal Url
        </th>
        <th scope="col">
            Years Of Age
        </th>
        <th scope="col">
            Is External Contractor
        </th>
        <th scope="col">
            Relationship Status
        </th>
        <th scope="col">

        </th>
        <th scope="col">

        </th>
        <th scope="col">

        </th>
        </tr>
    </thead>
    <tbody>
        @{ int index = 0; }
        @foreach(var account in Model.Accounts)
        {
            <tr>
                <th scope="row">
                    @index
                </th>
                <td>
                    @account.FullName
                </td>
                <td>
                    @account.EmailAddress
                </td>
                <td>
                    @account.PhoneNumber
                </td>
                <td>
                    @account.PersonalUrl
                </td>
                <td>
                    @account.YearsOfAge
                </td>
                 <td>
                    @account.IsExternalContractor
                </td>
                <td>
                    @account.RelationshipStatus
                </td>
                <td>
                    <a asp-page="/Accounts/Details" asp-route-id="@account.Id" class="btn btn-info text-white">
                        Details
                    </a>
                </td>
                <td>
                    <a asp-page="/Accounts/Update" asp-route-id="@account.Id" class="btn btn-warning text-white">
                        Update
                    </a>
                </td>
                <td>
                    <a asp-page="/Accounts/Remove" asp-route-id="@account.Id" class="btn btn-danger">
                        Remove
                    </a>
                </td>
            </tr>
            { index++; }
        }
    </tbody>
</table>